/* Custom Fonts */

@font-face {
  font-family: icons;
  src: url(./fonts/Glyphter.ttf);
}

@font-face {
  font-family: titleFont;
  src: url(./fonts/urw-palladio-l-roman.ttf);
}

@font-face {
  font-family: mainFont;
  src: url(./fonts/hind-regular.otf);
}

/* Global CSS */

* {
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  display: inline;
  font-family: titleFont;
  font-size: 36px;
  padding-right: 30px;
  padding-left: 46px;
}

h1 span {
  color: #0291d8;
}

h2 {
  font-family: mainFont;
  color: #005480;
  margin-bottom: 0;
  font-size: 48px;
}

h3 {
  text-align: center;
  font-family: mainFont;
  color: #fefdfd;
  font-size: 24px;
  margin: 0px;
  padding-top: 18px;
}

p {
  font-family: mainFont;
  color: #000000;
  font-size: 1rem;
}

nav {
  margin: 0;
  padding: 0;
}

/* Styling For Icons*/

.icons {
  font-family: icons;
  color: #93e2ff;
}

/* Top Navigation/Information Bar*/

.navBarTop {
  background-color: #005480;
  color: #fefdfd;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.navBarContainer {
  text-align: center;
}

.navBarContainer span {
  top: 18px;
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
}

.navBarTop a {
  color: #fefdfd;
  font-family: mainFont;
}

.navBarTop a:hover {
  color: #93e2ff;
}

.navBarTop strong {
  font-size: 18px;
  padding-right: 6px;
}

.navBarTop span {
  margin-right: 20px;
  margin-left: 20px;
}

/* Drop Down Menu (Languages)*/

.dropDown {
  display: inline-block;
  width: 200px;
}

.dropDown button {
  width: 200px;
  height: 60px;
  border: none;
  background-color: #93e2ff;
  color: #005480;
  font-family: mainFont;
  font-size: 18px;
  outline: none;
}

.dropDown button:focus + ul {
  display: list-item;
  pointer-events: all;
  float: left;
}

.dropDown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  pointer-events: none;
}

.dropDown li {
  background-color: #005480;
  list-style-type: none;
  width: 200px;
  text-align: center;
}

.dropDown a {
  font-family: mainFont;
  font-size: 18px;
  color: #ffffff;
  padding-right: 12px;
}

.dropDown a:hover {
  color: #93e2ff;
}

/* Main Navigation Bar*/

.navBar {
  background-color: #ffffff;
  height: 24px;
  padding: 60px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 10 0px rgba(0, 0, 0, 0.6);
}

.navBar ul {
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 36px;
  margin: 0 auto;
  font-family: mainFont;
  display: block;
}

.navBar li {
  display: inline;

  margin-right: 12px;
  margin-left: 12px;
}

.navBar a {
  color: #005480;
}
.navBar a:hover {
  color: #0291d8;
}

/* Banner*/

.banner {
  width: 100%;
  background-image: url(./images/banner01.png);
  background-size: cover;
  height: 480px;
  background-position: center;
  box-shadow: 0 0 6px 0px rgb(83, 83, 83) inset;
}

.bannerContainer {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.bannerContainer p {
  max-width: 600px;
  margin: 0;
  padding-bottom: 30px;
}

.bannerContainer h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 36px;
}

.bannerButton1 {
  width: 200px;
  height: 48px;
  border: none;
  background-color: #005480;
  color: #005480;
  font-family: mainFont;
  font-size: 18px;
  outline: none;
  color: #fefdfd;
  margin-right: 30px;
}

.bannerButton2 {
  width: 200px;
  height: 48px;
  border: none;
  background-color: #93e2ff;
  color: #005480;
  font-family: mainFont;
  font-size: 18px;
  outline: none;
  color: #fefdfd;
}


/* Articles*/

.articals {
  background-color: #0291d8;
  height: 480px;
  width: 100%;
}

.readAllArticals {
  margin: 0 auto;
  text-align: center;
}

.readAllArticals a {
  font-family: mainFont;
  color: #fefdfd;
  padding-left: 50%;
}

.readAllArticals a:hover {
 color: #93e2ff;
}

.articleSlider {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.articleSlider p {
  width: 25%;
  max-width: 300px;
  height: 205px;
  justify-content: space-between;
  color: #fefdfd;
  padding: 12px;
  font-size: 14px;
}

.articleSlider img {
  width: 25%;
  max-width: 300px;
  padding: 12px;
}

.articleSlider img:hover  {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Members */

.banner2 {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/banner02.png);
  height: 480px;
  background-position: center;
  box-shadow: 0 0 6px 0px rgb(83, 83, 83) inset;
  justify-content: center;
  background-position: 0px 0px;
  padding: 0;
  background-size: cover;
}

.banner2 p {
  color: #fefdfd;
  width: 40%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bannerContainer2 {
  text-align: center;
}

.bannerContainer2 h2 {
  padding-top: 60px;
  margin: 0;
  color: #fefdfd;
}

.banner2Button {
  width: 50%;
  max-width: 480px;
  height: 48px;
  border: none;
  background-color: #93e2ff;
  color: #005480;
  font-family: mainFont;
  font-size: 18px;
  outline: none;
  margin-bottom: 80px;
}

/* Call Back Section */

.callBack {
  height: 240px;
  background-color: #fefdfd;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
}

.callbackTextBox {
  display: inline-block;
  color: #000000;
  text-align: left;
  padding-left: 12px;
}

.callbackTextBox p {
  color: #000000;
  width: 100%;
  padding: 0;
  max-width: 436px;
  padding-right: 30px;
}

.callBackForm {
  margin-top: 0;
  display: inline-block;
  max-width: 300px;
  text-align: left;
  vertical-align: top;
  padding-top: 36px;
}

.callbackTextBox h3 {
  color: #005480;
  font-size: 36px;
  text-align: left;
  margin-top: 0;
}

.callBack input {
  margin: 0;
  width: 300px;
  border: none;
  height: 30px;
  background-color: #005480;
  margin-bottom: 12px;
  float: left;
}

input[type="submit"] {
  background-color: #93e2ff;
  color: #005480;
  width: 150px;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea {
  color: #fefdfd;
  padding-left: 12px;
}

::placeholder {
  color: #fefdfd;
  padding-left: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.topButton {
  float: right;
  height: 64px;
  width: 64px;
  color: #fefdfd;
  background-color: #0291d8;
  font-family: mainFont;
  font-size: 23px;
  padding: 12px;
  margin-top: 120px;
}

/* Footer Section */

.footer {
  height: 360px;
  background-color: #005480;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.footerContainer {
  background-color: #005480;
  height: 300px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 12px;
  border-bottom: 1px solid #0291d8;
}

.footerLeft {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.footerLeft a {
  color: #fefdfd;
}

.footerLeft a:hover {
  color: #93e2ff;
}

.footerRight p {
  padding-top: 30px;
}

.footerLeft li {
  list-style: none;
  color: #fefdfd;
  font-family: mainFont;
  text-align: left;
  padding-left: 0px;
  margin: 0;
}

.footerRight {
  vertical-align: top;
  display: inline-block;
  width: 40%;
}

.footerRight p {
  padding: 12px;
  margin: 0;
  padding-left: 46px;
}

.footer ul {
  display: inline-block;
  padding: 0;
  width: 150px;
  vertical-align: top;
}

.footer span {
  color: #fefdfd;
  font-family: mainFont;
}

.footerLinks {
  max-height: 100px;
}

.emailForm {
  max-width: 500px;
  max-height: 40px;
  min-width: 186px;
}

.footerRight input[type="text"] {
  background-color: #fefdfd;
  color: #005480;
  width: 40%;
  border: none;
  height: 30px;
  display: inline-block;
  margin: 0;
  padding: 0px;
}

.footerRight button {
  background-color: #93e2ff;
  color: #005480;
  width: 60px;
  height: 30px;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0px;
  outline: none;
}

.footerRight ::placeholder {
  color: #005480;
  padding-left: 12px;
  font-family: mainFont;
}

.footer h3 {
  font-family: titleFont;
  text-align: left;
  padding-bottom: 30px;
}

/* Media Queries */

.mobile {
  display: none;
  position: fixed;
  right: 18px;
  top: 18px;
  z-index: 2;
}

.mobile a {
  font-family: mainFont;
  color: #fefdfd;
}

@media only screen and (max-width: 963px) {
  .bannerContainer h2 {
    padding-bottom: 12px;
  }

  .footer h3 {
    padding-bottom: 12px;
  }
}
@media only screen and (max-width: 996px) {
  .dropDown button {
    display: none;
  }

  .navBarContainer {
    margin-top: 18px;
    justify-content: center;
  }

  .footer {
    height: 700px;
  }
  .footerContainer {
    height: 460px;
  }
}

@media only screen and (max-width: 800px) {
  .navBarContainer {
    display: none;
  }
  .mobile {
    display: inline;
  }

  .navBar h1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navBar {
    padding-left: 0;
    padding-right: 0;
  }

  .banner2 p {
    padding-top: 12px;
    width: 80%;
    padding-bottom: 30px;
  }

  .banner2Button {
    width: 80%;
    height: 60px;
  }

  .callBack {
    height: 480px;
  }

  .footer {
    height: 520px;
  }
}

@media only screen and (max-width: 645px) {
  .navBar {
    height: 80px;
  }
  .articleSlider p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 465px) {
  .navBar {
    height: 120px;
  }
  .banner {
    height: 520px;
  }
}
